<ion-modal-view class="modal-story">
	<ion-header-bar>
		<button ng-click="back()" class="button icon-left ion-chevron-left button-clear button-positive">Back</button>
  <div class="h1 title">Upload</div>
	</ion-header-bar>
	<ion-content class="padded">
	  	<ul class="list">

  <li class="item item-toggle">
     Private <i ng-class="{'icon ion-ios-locked': private, 'ion-ios-unlocked':!private}" ></i>
     <label class="toggle toggle-balanced">
       <input ng-model="private" type="checkbox" checked>
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
</ul>

  <div ng-show="private" class="list list-inset">
  <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input ng-model="searchFriends.name" type="text" placeholder="Search">
  </label>
</div>

  <ul ng-show="private" class="list">

  <li ng-repeat="friend in friends | filter:searchFriends" class="item item-checkbox friend-upload">
     <label class="checkbox">
     <img src="{{ friend.face }}">
       <input type="checkbox">
     </label>
     {{ friend.name }}
  </li>

  

</ul>
<button ng-click="share()" class="button button-full button-balanced">
  Share
</button>
	</ion-content>
</ion-modal-view>