<ion-view view-title="Activity">
  <ion-content>
    <div class="feed-list list card">

      <div ng-repeat="story in stories" class="item">
        <div class="item-header row">
        <div class="col col-75">
          <p>{{story.title}}</p>
        </div>
        <div class="col col-25">
          <span class="ago">{{story.posted}}</span>
        </div>
        </div>
        <div class="item-user">
          
          <div style="clear: both"></div>
        </div>
        <div class="item-content"><img class="item-face" src="{{story.user.face}}"/>
          <span class="item-username">@{{story.user.username}}</span>
          <a class="button button-clear ion-heart icon-left">{{story.likes}}</a>
          <a class="button button-clear ion-chatbubbles icon-left">{{story.comments}}</a>
          <a class="button button-clear icon-left" ng-class="{'ion-ios-locked':story.private, 'ion-ios-unlocked': !story.private}"></a>
          
        </div>
      </div>
      
    </div>
  </ion-content>
</ion-view>
