<ion-view view-title="Record">
  <ion-content>
    <div class="card recording">

	  <div class="item item-text-wrap">
	  	<div class="row">
		  <div class="col col-66">
		  	<button ng-click="record()" ng-bind="text" ng-class="{'ion-ios-circle-filled': recording, 'ion-ios-circle-outline': !recording}" class="button icon-left ion-ios-circle-filled">
		  		Start recording
		  	</button>
		  </div>
		  <div class="col">
		  	<button class="recording-timing button button-right button-light">
			  {{time|recordingTime}}
			</button>
		  </div>
		</div>
  <button class="button button-full button-positive">
  Play
</button>

<div class="item range">
  <input type="range" name="volume">
</div>

<div class="list">
  <label class="item item-input">
    <input type="text" placeholder="Title">
  </label>
  <label class="item item-input">
    <textarea placeholder="Description"></textarea>
  </label>
  <div class="list">

  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     Pin to current location
  </li>

  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     Select location from map
  </li>

</div>
  <button ng-click="upload()" class="button button-full button-balanced">
  Upload
</button>
</div>
	  </div>
  	</div>
  </ion-content>
</ion-view>
