<ion-view view-title="Account">
  <ion-content>
    <div class="card profile">
	  <div class="item item-text-wrap">
    	<div class="item item-avatar">
    	<div class="row">
    	<div class="col col-60">
		   	<img class="profile-img" src="img/man1.png">
		    <h2>John Fox</h2>
		    <p>@johnfox</p>
	    </div>
	    <div class="col col-40">
		    <button class="edit button button-positive button-outline edit-profile">Edit profile</button></div>
	    </div>
	    <p>
          <a class="button button-clear ion-ios-recording-outline icon-left">5 recordings</a>
          <a class="button button-clear ion-ios-people-outline icon-left">143 friends</a>
        </p>
	  	</div>
	  </div>
	</div>
  </ion-content>
</ion-view>
