/* Empty. Add your own CSS if you like */
.story-user img {
	width: 33%;
	height: 33%;
	float: left;
}

.H_ib_body {
	background-color: white;
	color: #333;
}

.story-title a, .story-title a:visited {
	color: black;
	text-decoration: none;
}

.padded {
	padding: 10px;
}

.modal-story h2 {
	font-size: 24px;
}

.modal-story p {
	font-size: 18px;
}

.recording-info {
	float: right;
}

.recording-timing {
	font-size: 24px;
}

.recording .ion-ios-circle-filled:before {
	color:red;
}


.recording .ion-ios-circle-outline:before {
	color:#b2b2b2;
}

.feed-list .item {
	padding-bottom: 0px;
}

.friend-upload img {
	width: 10%;
	height: 10%;
	float: right;
	border-radius: 50%;
}

.item-face {
	width: 7%;
	height: 7%;
	border-radius: 50%;
	margin-top: 10px;
	float: left;
}

.item-username {
	margin-top: 12px;
	margin-left: 6px;
	margin-right: 12px;
	float: left;

}

.ago {
	float: right;
	margin-top: 15px;
	font-size: 14px;
}

.item-header p {
	font-size: 18px;
}